<library path="lib/libuven_control_center_gui">
  <class name="UVEN_CONTROL_CENTER_GUI" type="UVEN_CONTROL_CENTER_GUI" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Control Center
    </description>
    <qtgui>
      <group>
        <label>uven control center</label>
      </group>
      <label>GUI</label>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
